# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# IDE dosyaları (VSCode örneği)
.vscode/

# PyCharm/IntelliJ IDEA dosyaları
.idea/

# OS dosyaları
.DS_Store
Thumbs.db

# Python paket dosyaları
*.egg
*.egg-info
dist/
build/